<!-- <div class="example-sidenav-content">
  <mat-toolbar>Users</mat-toolbar>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of cardlist">
      <mat-card>
        <div class="row">
          <div class="col-md-8 text-left info">
            <a><p (click)="onSelect(item)" class="nam">{{item.name}}</p></a>
          </div>
          <div class="col-md-4 icon1">
            <a routerLink="../personaldetails"><i class="material-icons plus">add_circle</i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 text-left info1">
              <p class="phn"><b>{{item.phone}}</b></p>
            </div>
            <div class="col-md-3 text-left info1">
              <p class="gmail"><b>{{item.gmail}}</b></p>
            </div>
          </div>
            <div class="col-md-12 text-left info2">
              <p class="ads">{{item.address}}</p>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-md-8 text-left pay">
                <p class="card-title"><b>{{item.paymentdue}}</b></p>
                <h4 class="card-text">{{item.rupee}}</h4>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="button">
        <button mat-fab><a routerLink="../userregistration"><i class="material-icons plus1">add_circle</i></a></button>
      </div>
    </div>
            
      
      
     -->
<h5>hello</h5>