<div id="section">
  <div class="image example-container" id="content1">


    <mat-card class="example-card">
      <div class="row">
        <div class="col-md-12 text-center">
          <img class="card-img-top" src="./assets/logo.png" alt="Card image cap">
        </div>

        <div class="card-body text-center">
        <mat-card-content>
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Set your password" [formControl]="setpassword" required [type]="hide ? 'password' : 'text'">
              <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
              <mat-error *ngIf="setpassword.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Confirm password" [formControl]="confirmpassword" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="confirmpassword.invalid">{{getpasswordError()}}</mat-error>
            </mat-form-field>
            </div>
            <a href="#" class="btn btn-primary" routerLink="/login" routerLinkActive="active">CONFIRM</a>
        </mat-card-content>
        
      </div>
    </div>

  </mat-card>
</div>
</div>
          






          
          
          