<mat-drawer-container>
  <div class="example-sidenav-content">
    <mat-toolbar>Dashboard</mat-toolbar>
        </div> 
        
          <div class="example-container1">
            <div class="row">
        <div class="col-md-6">
            <mat-card>
              <div class="row">
                <div class="col-md-4 icon">
                <mat-icon>home</mat-icon>
              </div>
                  <div class="col-md-8 text-right pay">
                    <p>Incoming Payments</p>
                    <h4>$1300</h4>
                  </div>
                </div>
                <hr>

              <div class="row">
                <div class="col-md-6 text-left elem1">
                  <li> 02 JUL`17 </li>
                  <li> 02 JUL`17 </li>
                  <li> 02 JUL`17 </li>
                  <li> 02 JUL`17 </li>
                </div>
                <div class="col-md-6 text-right elem1">
                    <li> 3720/- </li>
                    <li> 3720/- </li>
                    <li> 3720/- </li>
                    <li> 3720/- </li>
                </div>
              </div>
            </mat-card>
          </div>


          <div class="col-md-6">
              <mat-card>
                <div class="row">
                  
                    <div class="col-md-8 text-left pay1">
                      <p><b>Upcoming Milk Supplies</b></p>
                      <h6>02 JUL`17</h6>
                    </div>
                    <div class="col-md-4 icon1">
                        <i class="material-icons print">print</i>
                      </div>
                  </div>
                  <hr>

                <div class="row">
                  <div class="col-md-4 text-left elem">
                    <li> Heritage Full Cream Milk </li>
                    <li> Heritage Toned Milk </li>
                    <li> Heritage Full Cream Milk </li>
                    <li> Heritage Toned Milk </li>
                  </div>
                  <div class="col-md-4 text-centre elem">
                      <li> 1litre </li>
                      <li> 1litre </li>
                      <li> 1litre </li>
                      <li> 1litre </li>
                  </div>
                  <div class="col-md-4 text-left elem">
                      <li> 120packets </li>
                      <li> 120packets </li>
                      <li> 120packets </li>
                      <li> 120packets </li>
                    </div>
                    
                    <button type="button" class="btn btn-success button1">More Details</button>
                  
                </div>
              </mat-card>
            </div>
            
        </div>
        </div>

      </mat-drawer-container>
      <router-outlet></router-outlet> 