.mat-toolbar{
    width: 100%;
    height: 56px;
    background-color: #ffffff;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12); */
  }
  .example-container1{
    height: 100vh;
  }

  .icon mat-icon{
    font-size: 50px;
    color: #d23c30;
    float: left;

  }

  .pay p{
    font-size: 13px;
    font-family: inherit;
  }

  .pay h4{
    font-size: 20px;
    color: #d23c30;
  }

  .elem{
    list-style: none;
  }

  .elem1{
    list-style: none;
  }
  
  .pay1 p{
    font-size: 15px;
    color: #4285f4
  }

  .pay1 h6{
    color:#a29d9d;
    font-size: 11px;
  }
  
  .print{
    font-size: 18px;
    float: right;
    color: #fbbc05;
  }
  
  .elem{
    font-size: 12px;
    font-family: bold;
  }

  .button1{
   
    margin-left: 420px;
  }
  .card{
    height: 260px;
    width:auto;
  }