<!-- <p>
  calender works!
</p> -->
<div class="example-sidenav-content">
  <mat-toolbar>Calender</mat-toolbar>
</div>
<div class="input-group">
  <i class="material-icons">search</i>
  <input class="form-control" placeholder="Name,Address,Ph.no">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      <mat-card>
        <div class="row">
          <div class="col-md-3 image">
            <img src="/assets/milk.png">
          </div>
          
              <div class="col-md-6 ">
                
              </div>

              
                  <div class="col-md-3 ">
                    
                  </div>
        </div>
      
        </mat-card>
        </div>
        </div>
        </div>
        
<router-outlet></router-outlet> 